node_modules/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Hardhat files
cache/
artifacts/
out/
ignition/deployments/

# IDE/Editor files
.vscode/
.idea/
*.iml

# OS-specific files
.DS_Store
Thumbs.db


Destripe.json